@{
    ViewData["Title"] = "About";
}
<div class="jumbotron landing-image-index">
    <div class="landing-text">
        <h1>@ViewData["Title"]</h1>
        <p>
            Here's some stuff you didn't know about me
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Dummy text about myself Dummy text about myself Dummy text about myself Dummy text about myself
            </p>
        </div>
    </div>
</div>
