@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron landing-image-index">
    <div class="landing-text">
        <h1>@ViewData["Title"]</h1>
        <p>
            You can reach me with the details below!
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>
