@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>
<div class="jumbotron landing-image-index">
    <div class="landing-text">
        <h1>Privacy Policy</h1>
    </div>
</div>
<p>My detailed privacy policy</p>
