@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron landing-image-manage">
    <div class="landing-text">
        <h1>Manage Your Account Settings</h1>
        <p>
            Here you can manage your account settings. Click on a tab and modify your settings below!
        </p>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
