body {
    
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    border-radius: 0
}

.landing-image-index {
    margin-top:0;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    background-image: url('../images/nicolas-bichon-1216303-unsplash.jpg');
    background-position:center;
    background-size:cover;
    height: 620px;
}

.landing-text {
    padding-top: 80px;
    max-width: 800px;
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    text-shadow: 0 3px 12px #808080;
}

footer {
    text-align:center;  
}

.post-preview {
    margin:auto;
}

.post-preview a {
    text-decoration:none;
    color:black;
}

    .post-preview a:hover {
        color: #0085a1;
        text-decoration:underline;
    }

post-title {
    margin-top:30px;
    margin-bottom:10px;
}

.post-body-preview {
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    display:block;
    text-overflow:ellipsis;
}

.post-meta {
    font-style: italic;
    color: #868e96;
    margin-top:0;
}

.row {
    text-align:center;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}